<!-- Begin Page Content -->
<div class="container-fluid">
    {{#if success_msg}}
    {{message}}
    <div class="alert alert-info" style="margin: 0px 15px 10px" role="alert">{{success_msg}}</div>
    {{/if}}
    {{#if error_msg}}
    <div class="alert alert-danger" style="margin: 0px 15px 0px" role="alert">{{error_msg}}</div>
    {{/if}}

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">List of users</h1>
    <hr>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">List of users</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>email</th>
                            <th>mobile</th>
                            <th>Activity Logs</th>
                            <th>Action</th>
                        </tr>
                    </thead>

                    <tbody>
                        {{#each users}}
                        <tr>
                            <td>{{username}}</td>
                            <td>{{email}}</td>
                            <td>{{mobile}}</td>
                            <td>
                                <form action="/users/activity-logs" method="get">
                                    <input type="hidden" name="email" value='{{email}}'>
                                    <button class="btn btn-md btn-primary">View</button>
                                </form>
                            </td>
                            <td>
                                <form action="/users/delete" method="post">
                                    <input type="hidden" name="email" value='{{email}}'>
                                    <button class="btn btn-md btn-danger">Delete</button>
                                </form>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->